{% extends "indexBase.html" %}
{% block indexBase %}
<div class="row">
    <div class="col-lg-12">
        <h1>友情链接</h1>
        <p><a href="https://saucer-man.com/">saucerman-千里之行始于足下</a><br>
            <a href="http://www.saulty4ish.cn">saulty4ish-stay foolish,stay hungry</a><br>
            <a href="https://tmr.js.org">tmr-明天的乌云</a><br>
            <a href="https://nightrainy.github.io/">nightrainy-是个pwn师傅</a><br>
            <a href="https://blog.mscorlib.top">wuyuxuan-大概是个前端</a>
            <a href="https://www.boringboys.top/">BORINGBOYS-大概是有趣的boys</a>
        </p>
        <h1>添加友链</h1>
        <p>你是hacker？来吧！联系我，添加友链，联系方式就在旁边—&gt;<font size="1" color="#222">
                https://axblog.top/AreYouAHacker/(HereIsYourMessage)</font>
        </p>
    </div>
</div>
{% endblock %}