{% extends "indexBase.html" %}
{% block indexBase %}
<h1>文本去重复</h1>
<hr>

<head>
  <script type="text/javascript">
    function sx() {
      var rntArray = [],
        temp, hasValue;
      var array = document.getElementById("neirong").value.split("\n");
      for (var i in array) {
        temp = array[i];
        hasValue = false;
        for (var j in rntArray) {
          if (temp === rntArray[j]) {
            hasValue = true;
            break;
          }
        }
        if (hasValue === false) {
          rntArray.push(temp);
        }
      }
      document.getElementById("neirong1").value = rntArray.join("\n");
    }
  </script>
</head>

<body>
  <div class="container">
    <div class="row clearfix">
      <div class="col-md-12 column">
        <div class="row clearfix">
          <div class="col-md-6 column">
            <p> <textarea name="neirong" id="neirong" type="text" class="form-control"
                style="WIDTH: 100%; HEIGHT: 600px;overflow:auto;" cols="440" rows="1">这里输入</textarea> </p>
          </div>
          <div class="col-md-6 column">
            <p> <textarea name="neirong1" id="neirong1" type="text" class="form-control"
                style="WIDTH: 100%; HEIGHT: 600px; overflow:auto;" cols="440" rows="1"></textarea> </p>
          </div>
        </div>
        <button type="button" class="btn btn-default btn-block" onclick="return sx();">去除重复</button>
      </div>
    </div>
  </div>
  {% endblock %}