{% extends "indexBase.html" %}
{% block indexBase %}
<!--story-->
<div class="row">
    <div class="col-lg-12">
        <h1>Hacker? welcome!</h1>
        <p>这是我的新博客，即将开源...</p>
        <h1>个人简介</h1>
        <ol>
            <li>练习时长三天半的全栈菜鸡</li>
            <li>ujs-sec创始人之一</li>
            <li>不会算法的安全圈菜鸡</li>
            <li>略知web安全</li>
            <li>某普通高校在读</li>
            <li>那件事不是我干的，我什么都不知道，真的！</li>
        </ol>
        <h1>联系方式</h1>
        <ol>
            <li>Email? <a href="mailto:xxlin.ujs@qq.com">xxlin.ujs@qq.com</a></li>
            <li>Hacker? this way：<font size="1" color="#222">
                    https://axblog.top/AreYouAHacker/(HereIsYourMessage)
                </font>
            </li>
            <li>
                <a href="https://github.com/H4ckForJob/">My Github</a>
            </li>
        </ol>
        <h1>免责声明</h1>
        <p>emmm，研究法律文档中</p>
        <p>若本站任何内容侵犯了您的权益，请联系我</p>
    </div>
</div>
{% endblock %}