{% extends "adminBase.html" %}
{% block adminBase %}
<div class="row">
    <div class="col-lg-2">
        <img src="/static/images/ujscanner.png" width="100%" height="100%" alt="ujs-sec-logo">
    </div>
    <div class="col-lg-10 text-center">
        <h1>UJScanner Demo</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-8">
        <div class="well">
            <form class="form-horizontal" method="POST">
                <fieldset>
                    <legend>扫描面板</legend>
                    <div class="form-group">
                        <label for="sigleTarget" class="col-lg-2 control-label">目标网站</label>
                        <div class="col-lg-10">
                            <input class="form-control" id="singleTarget" placeholder="待检测网站" type="text"
                                value="http://testphp.vulnweb.com">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="select" class="col-lg-2 control-label">选择扫描配置</label>
                        <div class="col-lg-10">
                            <select class="form-control" id="select" name="config">
                                <option value="1">默认配置1</option>
                                <option value="2">默认配置2</option>
                                <option value="3">默认配置3</option>
                                <option value="4">默认配置4</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            <a class="btn btn-default" href="/ujscanner/addScannerConfig">添加配置</a>
                            <button type="submit" class="btn btn-primary" name="scan">开始检测</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="well">
            <legend>实时信息</legend>
            <div class="progress progress-striped active">
                <div class="progress-bar progress-bar-info" style="width: {{ progressbar }}"></div>
            </div>
            <div class="row">
                <div class="col-lg-10">
                    当前目标:
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10">
                    test
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}